{% extends 'blog/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Blog Posts</h2>
    <a class="btn btn-primary mb-3" href="{% url 'post_create' %}">Create New Post</a>
    {% if posts %}
        <div class="row">
            {% for post in posts %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.content|truncatewords:30 }}</p>
                            <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No blog posts available.</p>
    {% endif %}
</div>
{% endblock %}
